<section class="debt-main">
	<div class="container-fluid">
		<div class="row" >			
			<div class="col-12 col-md-3 col-xxl-2 nav-main order-1 order-md-0" *ngIf="navLeft">				
				<!-- <app-dfilters></app-dfilters> -->
				<img src="assets/images/all/Logo_PAD_w.svg"  alt="Logo Datacrédito Ponte al Día" class="logo-main"/>
				<div class="no-debts" *ngIf="noDebtsFreemium">
					<h2>Conocer tu historia de crédito puede ayudar a mejorar tu vida financiera.</h2>
					<p>Te ayudamos a llevar a otro nivel tu perfil crediticio. Conoce tu historia de crédito Gratis.</p>
					<img src="assets/images/all/go_freemium.svg" alt="Fremium Mi Datacrédito" class="img-secondary"/>
					<button class="btn-pda btn-outline-white w-100-btn" id="midatacreditoGo">
						<span>Ir a Midatacrédito</span>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</button>
				</div>
				<div class="debts-today" *ngIf="debtsToday">
					<button class="btn-main" (click)="obligaciones()" id="btnObligations">
						<div class="icon-main">
							<img src="assets/images/all/obligaciones_negociables_icon.svg" alt="Obligaciones Negociables"/>
						</div>
						<div class="btn-txt">
							<h3>Obligaciones al día Negociables</h3>
						</div>
						<div class="counts-debts">{{activeObligation}}</div>
					</button>
					<button class="btn-main" (click)="reportes()" id="btnNegativeReports">
						<div class="icon-main">
							<img src="assets/images/all/reportes_negociables_icon.svg" alt="Obligaciones Negociables"/>
						</div>
						<div class="btn-txt">
							<h3>Reportes en mora Negociables</h3>
						</div>
						<div class="counts-debts">{{activeDebts}}</div>
					</button>
				</div>
			</div>
			<div class="debts-all order-0 order-md-1" [ngClass]="navLeft == false ? 'col-12 col-md-6 offset-md-3' : 'col-12 col-md-9 debts-all-p'">
				<!-- No tienes deudas -->
				<div class="debt-container" *ngIf="alertNoDebts" [ngClass]="navLeft == false ? '' : 'debts-all-full'">
					<div class="no-debts-all">
						<div class="alert-no-debts">
							<div class="img-no-debts">
								<img src="assets/images/all/no_debt.svg" alt="No tienes deudas" class="d-none d-md-block"/>
								<img src="assets/images/all/ok3.svg" alt="No tienes deudas" class="d-block d-md-none"/>
							</div>
							<div class="txt-no-debts">
								<h3>No tienes deudas por negociar con nuestras entidades aliadas.</h3>
							</div>
						</div>
						<h3>Conocer tu historia de crédito puede ayudar a mejorar tu vida financiera. </h3>
						<div class="line-green"></div>
						<p>Te ayudamos a llevar a otro nivel tu perfil crediticio. Conoce tu historia de crédito Gratis</p>
						<button class="btn-pda btn-orange w-40-btn h-lg-btn" id="goMidatacredito">
							<span>Ir a Midatacrédito</span>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</button>
						<!-- <div class="box-buscacredito">
							<div class="row">
								<div class="col-4 col-md-2 align-self-center order-1 order-md-0">
									<img src="assets/images/all/Lineru.svg" alt="Lineru" />
								</div>
								<div class="col-12 col-md-4 align-self-center order-0 order-md-1">
									<h6>ENTIDAD</h6>
									<h4>Lineru</h4>
									<p>Crédito de Libre Inversión</p>
								</div>
								<div class="col-8 col-md-3 align-self-center order-2 order-md-2">
									<h6>MONTO</h6>
									<h5>$ 100.000</h5>
									<h6>PAGO MENSUAL APROX.</h6>
									<h5>$ 134.480 <span>x 1 mes</span></h5>
								</div>
								<div class="col-12 col-md-3 align-self-center order-3 order-md-3">
									<button class="btn-pda btn-orange w-100-btn" id="midatacreditoOffer">
										<span>Ver oferta</span>
										<i class="fa fa-chevron-right" aria-hidden="true"></i>
									</button>
								</div>
								<div class="col-12 align-self-center order-4 order-md-4">
									<div class="note-buscacredito">
										<div class="img-buscacredito">
											<img src="assets/images/all/ok.svg" alt="Nota"/>
										</div>
										<div class="txt-buscacredito">
											<p><span>LINERU</span> es un aliado de Midatacrédito, que te ofrece la posibilidad de adquirir créditos online para lo que quieras.</p>
										</div>
									</div>
								</div>
								
							</div>
						</div> -->
					</div>					
				</div>
				<!-- No tienes deudas -->
				<!-- Alert Deudas-->
				<div class="alert-debts" *ngIf="alertDebts">
					<div class="img-alert">
						<img src="assets/images/all/Pill.svg" alt="Alerta Ponte al Día"/>
					</div>
					<div class="alert-txt">
						<h4>Negociar tu deuda con nuestros aliados es GRATIS.</h4>
						<p>En menos de tres minutos, haz un acuerdo de pago con ellos y accede a descuentos en la totalidad del pago de tu deuda.</p>
					</div>
				</div>
				<!-- Alert Deudas-->				
				<!-- Obligaciones negociables -->
				<div class="debt-container" *ngIf="obligacionesNegociables">
					<div class="intro-debts">
						<div class="img-intro">
							<img src="assets/images/all/oblicaciones_negociables.svg" alt="Obligaciones Negociables"/>
						</div>
						<div class="text-intro">
							<h3>Tienes <span>{{activeObligation}} obligaciones negociables</span> en tu historia de crédito.</h3>
							<p><span>En Ponte al día ahora puedes negociar </span>tus obligaciones financieras adquiridas con nuestras entidades aliadas.</p>
						</div>
					</div>
					<div class="bg-filters">
						<div class="box-filters">
							<p>Filtros aplicados:</p>
							<div class="btn-company" ></div>
							<div class="btn-statusAll" ></div>
						</div>
						<div class="ctaFilters">
							<button class="btn-pda btn-outline-pink mr-3 w-45-btn d-inline-block" id="filters" data-toggle="modal" data-target="#filters-modal">
								<i class="fa fa-filter" aria-hidden="true"></i>
								<span>Filtros ({{activeObligation}})</span>
							</button>
							<button class="btn-pda btn-outline-pink w-45-btn d-inline-block" id="deletefilters" (click)="debtsService.limpiarFiltros()">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
								<span>Limpiar filtros</span>
							</button>
						</div>						
					</div>
					<div class="debt-wrap">
						<div class="row head-tb">
							<div class="col-3 align-self-center">Entidad/Estado 1</div>
							<div class="col-3 align-self-center">Producto</div>
							<div class="col-2 align-self-center">Saldo</div>
							<div class="col-2 align-self-center">Actualización</div>
							<div class="col-2 align-self-center"></div>
						</div>
						<div class="row debts" *ngFor="let item of debtsService.filteredObligations">
							<div class="col-12 col-md-3 debt-logo align-self-center">
								<img src="https://images-s3-ecs-sp-latam.s3.amazonaws.com/catchupon/aliados/{{item.company.nit}}.png" class="logo"
									alt="Logo aliado"
									onerror="this.onerror=null; this.remove();">
								<div class="info">
									<div class="entity">{{item.company.name}}</div>
									<div class="state debt" [ngClass]="{
									'ok': item.accountStatus==='AL DIA',
									'deb': item.accountStatus==='ACTIVA',
									'neg': item.accountStatus==='NEGOCIADA'
								}">
										{{item.accountStatus}}</div>
								</div>
							</div>
							<div class="col-12 col-md-3 debt-prod align-self-center">
								<div>
									<span class="title-mob-w100">{{item.product.name}}</span>
								</div>
								<span class="currencyM-w-100">CTA No. {{item.ofuscateNumberAccount}}</span>
							</div>
							<div class="col-12 col-md-2 debt-time align-self-center cell-50">
								<span class="title-mob-w-100">Saldo</span>
								<span class="currencyM-w-100">$ {{ item.originalBalance | currency:'COP':'':'1.2-2'}}</span>
							</div>
							
							<div class="col-12 col-md-2 debt-date align-self-center cell-50">
								<span class="title-mob">Actualización </span>
								<span class="currencyM">{{item.lastEntranceDate | date: 'dd MMMM yyyy' }}</span>
							</div>	
							<div class="col-12 col-md-2 debt-cta align-self-center pl-md-0" *ngIf="item.accountStatuts == 'ACTIVA'">
								<a class="btn-pda btn-pink" id="negociarObligation" (click)="negotiateObligation(item)">
									<span>Negociar </span>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</div>
							<div class="col-12 col-md-2 debt-cta align-self-center pl-md-0" *ngIf="item.accountStatuts != 'ACTIVA'">
								<a class="btn-pda btn-outline-pink" id="verEstadoObligation" (click)='verEstado(item._id.$oid, item.company.nit, item.ofuscateNumberAccount, 2)'>
									<span>Ver estado </span>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div>				
				<!-- Obligaciones negociables -->
				<!-- Reportes negociables -->
				<div class="debt-container" *ngIf="reportesNegociables">
					<div class="intro-debts">
						<div class="img-intro">
							<img src="assets/images/all/reportes_negociables.svg" alt="Obligaciones Negociables"/>
						</div>
						<div class="text-intro">
							<h3>Puedes negociar <span> {{activeDebts}} reportes negativos</span> con entidades aliadas.</h3>
							<p><span>En Ponte al día podrás negociar las deudas con reportes negativos que tengas con</span> nuestras entidades aliadas.</p>
						</div>
					</div>
					<div class="bg-filters">
						<div class="box-filters">
							<p>Filtros aplicados:</p>
							<div class="btn-company" ></div>
							<div class="btn-statusAll" ></div>
						</div>
						<div class="ctaFilters">
							<button class="btn-pda btn-outline-pink mr-3 w-45-btn d-inline-block" id="filters2" data-toggle="modal" data-target="#filters-modal">
								<i class="fa fa-filter" aria-hidden="true"></i>
								<span>Filtros ({{activeDebts}})</span>
							</button>
							<button class="btn-pda btn-outline-pink w-45-btn d-inline-block" id="deletefilters2" (click)="debtsService.limpiarFiltros()">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
								<span>Limpiar filtros</span>
							</button>
						</div>						
					</div>
					<div class="debt-wrap">
						<div class="row head-tb">
							<div class="col-3 align-self-center">Entidad/Estado 2</div>
							<div class="col-3 align-self-center">Producto</div>
							<div class="col-2 align-self-center">Tiempo y saldo <br>en mora</div>
							<div class="col-2 align-self-center">Actualización</div>
							<div class="col-2 align-self-center"></div>
						</div>
						<div class="row debts" *ngFor="let item of debtsService.filteredItems">
							<div class="col-12 col-md-3 debt-logo align-self-center">
								<img src="https://images-s3-ecs-sp-latam.s3.amazonaws.com/catchupon/aliados/{{item.nitCompany}}.png" class="logo"
									alt="Logo aliado"
									onerror="this.onerror=null; this.remove();">
								<div class="info">
									<div class="entity">{{item.nameCompany}}</div>
									<div class="state debt" [ngClass]="{
									'ok': item.accountStatuts==='AL DIA',
									'deb': item.accountStatuts==='EN MORA',
									'neg': item.accountStatuts==='EN NEGOCIACION',
									'acuerdo': item.accountStatuts==='CON ACUERDO'
								}">
										{{item.accountStatuts}}</div>
								</div>
							</div>
							<div class="col-12 col-md-3 debt-prod align-self-center">
								<span class="title-mob-w100">{{item.nameProduct}}</span>
								<span class="d-block currencyM-w-100">CTA No. **** **** {{item.numberAccount}}</span>
							</div>
							<div class="col-12 col-md-2 debt-time align-self-center" *ngIf="item.accountStatuts==='EN NEGOCIACION'">
								<span class="title-mob">Saldo en mora </span>
								<span class="d-block currencyM">$ {{ item.arrangementAmount - item.totalPayment | currency:'COP':'':'1.2-2'}}</span>
							</div>
							<div class="col-12 col-md-2 debt-time align-self-center" *ngIf="item.accountStatuts==='CON ACUERDO'">
								<span class="title-mob">Saldo en mora </span>
								<span class="d-block currencyM">$ {{ item.arrangementAmount - item.totalPayment | currency:'COP':'':'1.2-2'}}</span>
							</div>
							<div class="col-12 col-md-2 debt-time align-self-center" *ngIf="item.accountStatuts==='AL DIA'">
								<span class="title-mob">Saldo en mora </span>
								<span>AL DIA</span>
							</div>
							<div class="col-12 col-md-2 debt-time align-self-center" *ngIf="item.accountStatuts==='EN MORA'">
								<span class="title-mob">Tiempo en mora </span>
								{{item.delinquencyInDays}} días
								<span class="d-block currencyM">$ {{item.balance | currency:'COP':'':'1.2-2' }}</span>
							</div>
							<div class="col-12 col-md-2 debt-date align-self-center">
								<span class="title-mob">Actualización </span>
								<span class="d-block currencyM">{{item.dateDebt | date: 'dd MMMM yyyy' }}</span>
							</div>
							<div class="col-12 col-md-2 debt-cta align-self-center pl-md-0" *ngIf="item.accountStatuts == 'EN MORA'">
								<a (click)="openDeal(item)" class="btn-pda btn-pink">
									<span>Ponte al día </span>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</div>
							<div class="col-12 col-md-2 debt-cta align-self-center pl-md-0" *ngIf="item.accountStatuts != 'EN MORA'">
								<a (click)='verEstado(item.de, item.nitCompany, item.numberAccount, 1)' class="btn-pda btn-outline-pink">
									<span>Ver estado </span>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div>				
				<!-- Reportes negociables -->
				<!-- Otros Reportes -->
				<div class="debt-container" *ngIf="otrosReportes">
					<div class="intro-debts">
						<div class="img-intro">
							<img src="assets/images/all/Otros_reportes.svg" alt="Otros reportes"/>
						</div>
						<div class="text-intro">
							<h3>Tienes <span>{{debtsService.debtLength}} reportes negativos</span> por negociar con entidades no aliadas.</h3>
							<p><span>Al ser obligaciones adquiridas con entidades no aliadas de Midatacrédito, las siguientes deudas</span> no son negociables en el portal de Ponte al día.</p>
						</div>
					</div>
					<div class="debt-wrap" >
						<div class="row head-tb">
							<div class="col-3 align-self-center">Entidad/Estado 3</div>
							<div class="col-3 align-self-center">Producto</div>
							<div class="col-2 align-self-center">Tiempo y saldo <br>en mora</div>
							<div class="col-2 align-self-center">Actualización</div>
							<div class="col-2 align-self-center"></div>
						</div>
						<div class="row debts" *ngFor="let item of debtsService.filteredItems">
							<div class="col-12 col-md-3 debt-logo align-self-center">
								<img src="https://images-s3-ecs-sp-latam.s3.amazonaws.com/catchupon/aliados/{{item.nitCompany}}.png" class="logo"
									alt="Logo aliado"
									onerror="this.onerror=null; this.remove();">
								<div class="info">
									<div class="entity">{{item.nameCompany}}</div>
									<div class="state debt" [ngClass]="{
									'ok': item.accountStatuts==='AL DIA',
									'deb': item.accountStatuts==='EN MORA',
									'neg': item.accountStatuts==='EN NEGOCIACION',
									'acuerdo': item.accountStatuts==='CON ACUERDO'
								}">
										{{item.accountStatuts}}</div>
								</div>
							</div>
							<div class="col-12 col-md-3 debt-prod align-self-center">
								<span class="title-mob">{{item.nameProduct}}</span>
								<span class="d-block currencyM">CTA No. **** **** {{item.numberAccount}}</span>
							</div>
							<div class="col-12 col-md-2 debt-time align-self-center" *ngIf="item.accountStatuts==='EN NEGOCIACION'">
								<span class="title-mob">Saldo en mora </span>
								<span class="d-block currencyM">$ {{ item.arrangementAmount - item.totalPayment | currency:'COP':'':'1.2-2'}}</span>
							</div>
							<div class="col-12 col-md-2 debt-time align-self-center" *ngIf="item.accountStatuts==='CON ACUERDO'">
								<span class="title-mob">Saldo en mora </span>
								<span class="d-block currencyM">$ {{ item.arrangementAmount - item.totalPayment | currency:'COP':'':'1.2-2'}}</span>
							</div>
							<div class="col-12 col-md-2 debt-time align-self-center" *ngIf="item.accountStatuts==='AL DIA'">
								<span class="title-mob">Saldo en mora </span>
								<span>AL DIA</span>
							</div>
							<div class="col-12 col-md-2 debt-time align-self-center" *ngIf="item.accountStatuts==='EN MORA'">
								<span class="title-mob">Tiempo en mora </span>
								{{item.delinquencyInDays}} días
								<span class="d-block currencyM">$ {{item.balance | currency:'COP':'':'1.2-2' }}</span>
							</div>
							<div class="col-12 col-md-2 debt-date align-self-center">
								<span class="title-mob">Actualización </span>
								<span class="d-block currencyM">{{item.dateDebt | date: 'dd MMMM yyyy' }}</span>
							</div>
							<div class="col-12 col-md-2 debt-cta align-self-center" *ngIf="item.accountStatuts == 'EN MORA'">
								<a (click)="openDeal(item)" class="btn-pda btn-pink mx-auto">
									<span>Ponte al día</span> 
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</div>
							<div class="col-12 col-md-2 debt-cta align-self-center" *ngIf="item.accountStatuts != 'EN MORA'">
								<a (click)='verEstado(item.de, item.nitCompany, item.numberAccount)' class="btn-pda btn-outline-pink mx-auto">
									<span>Ver estado</span> 
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div>				
				<!-- Otros Reportes -->
				<div class="go-freemium" *ngIf="goFreemium">
					<div class="img-go">
						<img src="assets/images/all/go_freemium.svg" alt="Historia de Crédito">
					</div>
					<div class="txt-go">
						<h3>Conocer tu historia de crédito puede ayudar a mejorar tu vida financiera.</h3>
						<p>Te ayudamos a llevar a otro nivel tu perfil crediticio. Conoce tu historia de crédito Gratis.</p>
						<button class="btn-pda btn-outline-pink w-45-btn" id="midatacreditoGo2">
							<span>Ir a Midatacrédito</span>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-dfilters></app-dfilters>
<app-deal></app-deal>